body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9ffef;
    text-align: center;  /* Alinea el contenido al centro */
}

.logo-container {
    text-align: center;  /* Alinea el logotipo al centro */
    margin-bottom: 20px;
}

.logo {
    width: 180px; /* Ajusta el tamaño del logotipo */
    height: auto;
}

h1 {
    color: #333;
}

.form-container {
    margin-bottom: 20px;
    padding: 20px;
    background: #effdd6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;  /* Centra el formulario */
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    background: #28a745;
    border: none;
    color: #effdd6;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #218838;
}

h2 {
    margin-top: 40px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #effdd6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;  /* Centra los elementos de la lista */
}
